[Desktop Entry]
Name=FotoWall
GenericName=FotoWall
Comment=Photo collection creativity tool
Exec=fotowall
Icon=fotowall
Terminal=false
Type=Application
Categories=Graphics;Publishing;
