[Desktop Entry]
Categories=AudioVideo;Player;Video;Qt;KDE
Exec=fotowall %f
GenericName=Photo Collage Creator
Comment=Create collages from a set of pictures
Icon=fotowall
Name=FotoWall
Type=Application
